@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-primaria: #F2BED1;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #F9F5F6;
    --cor-quartenaria: #7c7c7c;
    --cor-hoover: #F8E8EE;
    --fonte: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--fonte);
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: var(--cor-terciaria);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-height: 720px;
    max-width: 1280px;
    overflow: hidden;
}

.cabecalho {
    padding: 3% 0 2% 3%;
    width: 100%;
}

.cabecalho-logo {
    width: 80px;
}

main {
    display: flex;
    width: 70%;
    gap: 30%;
}

.esquerda {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    width: 100%;
    gap: 20px;
}

.esquerda-input {
    background: transparent;
    color: var(--cor-primaria);
    outline: none;
    border: none;
    resize: none;
    font-size: 2rem;
    text-transform: lowercase;
    overflow-y: auto;
    height: 60%;
    width: 100%;
}

.parte-aviso {
    margin-top: 10%;
    display: flex;
    gap: 1rem;
    font-size: 0.875rem;
    align-items: center;
}

.botoes {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.btn,
.botaoCopiar {
    height: 3.5rem;
    width: 15rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    border: 1px solid var(--cor-primaria);
    color: black;
    background-color: var(--cor-secundaria);
    box-shadow: 0px 0.5px 0.5px rgba(192, 192, 192, 0.1);
}

.btn:hover,
.botaoCopiar:hover {
    background-color: var(--cor-hoover);
}

#botaoCrip {
    background-color: var(--cor-primaria);
}

.direita {
    width: 250px;
    height: 550px;
    background-color: var(--cor-secundaria);
    padding: 2rem;
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: 0.5px 0.5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direitaOrientacoes {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.direita-imagem {
    width: 240px;
    padding-top: 50%;
}

.direitaOrientacoes-titulo {
    font-size: 1.25rem;
    padding: 0.5rem;
}

.direitaOrientacoesParag {
    font-size: 1rem;
}

#direitaResultado {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
}

#saidaTexto {
    display: flex;
    color: var(--cor-quartenaria);
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
    overflow-y: auto;
    height: 500px;
    word-break: break-all;

}

.botaoCopiar {
    display: none;
    justify-content: center;
    align-items: center;
}

.rodape {
    color: black;
    text-align: center;
    font-size: 0.875rem;
}